@using FVerStoreApp.Models
@using FVerStoreApp.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Виды страховок";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <h2>Все страховки</h2>
    <div class="row mt-5 mb-2">
        @{
            foreach (var insurance in Model.insurances)
            {
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="@insurance.Image" alt="@insurance.Name" />
                    <h2> @insurance.Name</h2>
                    <p>@insurance.ShortDesc</p>
                    <p>Цена: @insurance.Price.ToString("c")</p>
                    <form method="post" asp-controller="Insurances" asp-route-id="Model.OrderModel.Id" asp-action="OrderInsurance">
                        <input type="submit" value="Купить" />
                    </form>
                </div>
            }
        }
    </div>
</body>
</html>