@using FVerStoreApp.Models
@using FVerStoreApp.ViewModels
@model IEnumerable<Insurance>
@{
    ViewData["Title"] = "Види страховок";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Усі страховки</h2>
    <div class="row mt-5 mb-2">
        @{
            int i = -1;
            foreach (var insurance in Model)
            {
                i++;
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="@insurance.Image" alt="@insurance.Name" />
                    <h2> @insurance.Name</h2>
                    <p>@insurance.ShortDesc</p>
                    <p>Цена: @insurance.Price грн</p>
                    @if (User.Identity.IsAuthenticated)
                     {
                        <form asp-action="Order" asp-controller="Insurances" asp-route-id="@i" asp-route-email="@User.Identity.Name" method="post" />
                        <a class="btn btn-sm btn-primary" asp-action="Order" asp-route-id="@i" asp-route-email="@User.Identity.Name">Купити</a>
                     }

                </div>
                
            }
        }
    </div>
</body>
</html>